* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
 }
 
 .header {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .header .logo h2 {
    cursor: pointer;
    font-size: 32px;
 }
 
 .header .nav ul {
    display: flex;
 }
 
 .header .nav ul li {
    margin-right: 20px;
    list-style: none;
    position: relative;
 }
 .header .nav ul li .login-button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: none;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .header .nav ul li .login-button:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  }
  
  .header .nav ul li .login-button svg {
    margin-right: 8px;
  }
  
  .text {
    text-align: center;
    margin-top: 80px;
    padding: 60px 30px;
    background: linear-gradient(to right, #444, #666);
    color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .text h1 {
    font-size: 52px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .text h2:last-child {
    color: #ccc;
    font-size: 30px;
  }


 

